<%= content_tag_for(:tr, @post.comments) do |comment|%>
  <td class="post-comments-gravatar">
    <div class="comment-gravatar">
      <%= image_tag comment.creator.gravatar_url %>
    </div>
  </td>
  <td class="post-comments-body">       
    <div class="comment-body row">
      <div><small><%= comment.body.html_safe %></small></div>                
    </div>
    <div class="like-reply row"><small>Like. Reply</small></div>
  </td>                     
  <td>
    <%= image_tag 'edit.png', width: '10', height: '10' %>           
  </td>
<%end%>
